<h1>Home Page</h1>

<% @post.each do |post| %>
    <div class='row-fluid'>
      <div class='span5'>
        <div class='well'>

          <div class='pull-right'>
            <%= time_ago_in_words(post.created_at) %> ago
          </div>
          <br />
          <%= post.content %>
        </div>
      </div>
    </div>
<% end %>
